# database
server/posts.db
server/posts.db-journal
server/posts.db-walserver/posts.db
debug_theqoo.png
dist/
client/dist/ 

# 의존성 및 패키지 매니저
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 빌드 결과물 (Electron & React)
dist-exe/
dist-client/
client/dist/

# 운영체제 및 시스템 임시 파일
.DS_Store
Thumbs.db
*.tmp
*.bak
**/SingletonSocket
**/SingletonCookie
**/SingletonLock

# 환경 변수 (보안을 위해 절대 올리지 마세요)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 바이너리 및 대용량 파일 (크롬 설치 파일 등)
*.deb
*.exe
*.AppImage
*.dmg
server/temp/
server/sessions/

# 로그 및 디버그
logs
*.log
npm-debug.log*

*.pfx

# .gitignore 파일 최하단에 추가
/Releases/
/dist/
*.pfx
/vpk-out/